{{>layouts/header}}

<form class="container" action="" method="post">
    <input name="id" type="hidden" value="{{member.id}}">
    <div class="mb-3">
        <label class="form-label">이메일</label>
        <input type="email" class="form-control" name="email" value="{{member.email}}">
    </div>
    <div class="mb-3">
        <label class="form-label">비밀번호</label>
        <input type="password" class="form-control" name="password" value="{{member.password}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="redirect:/members/{{member.id}}"></a>;
    <a href="/members">Back</a>
    <a href="/members/{{memberEntity.id}}" class="btn btn-primary">수정완료</a>
</form>



{{>layouts/footer}}
